nav {
  background: rgb(23, 158, 199);
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  height: 60px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;

  .logo {
    display: flex;
    
  }
  #logo {
    font-size: 2rem;
    margin-right: 5px;
  }

  ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;

    li{
      padding: 0 1.5rem;

      a{
        text-decoration: none;
        color: #f4f4f4;
        font-family: 'Raleway', sans-serif;
      }

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

#ham-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;

  div {
    height: 60px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: skyblue;
    border-bottom: rgb(23, 158, 199) 1px solid;
    box-sizing: border-box;

  }

  a {
    list-style: none;
    text-decoration: none;
    color:#f4f4f4 ;
  }
}


// Hamburger

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #f4f4f4; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #f4f4f4;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

