.container {
  position: absolute;
  top: 60px;
  width: 100%;
  // background-color: rgba(0,0,0,0.15);
}

.dark-overlay{
  background: rgba(0,0,0,0.4);
  color: #e4e4e4;

  &:hover {
    background: rgba(0,0,0,0.6);
  }
}
